body {
    position: relative;
  }
.jumbotron {
    padding-top: 2rem;
    background-color: #212529;
}
.navbar {
    background-color: black;
}
.portofolio{
    background-color: #212529;
}
#footer{
    background-color:#212529 ;
}